In [1]:
# Cell 1 — Imports & connect
import sqlite3
import pandas as pd

# open (or create) your SQLite database
conn = sqlite3.connect('economic_data.db')

In [2]:
# Cell 2 — Read each CSV and push to SQL as raw tables
datasets = [
    ('gdp',        '../data/gdp.csv'),
    ('emp',        '../data/emp.csv'),
    ('gdp_growth', '../data/gdp_growth.csv'),
]

for level, path in datasets:
    print(f"→ Loading raw table: {level}_raw from {path!r}")
    df = pd.read_csv(path, skiprows=4)  # adjust skiprows only if necessary
    df.to_sql(f"{level}_raw", conn, if_exists='replace', index=False)

print("All raw tables loaded into SQLite.")

→ Loading raw table: gdp_raw from '../data/gdp.csv'
→ Loading raw table: emp_raw from '../data/emp.csv'
→ Loading raw table: gdp_growth_raw from '../data/gdp_growth.csv'
All raw tables loaded into SQLite.

In [3]:
import sqlite3

# 1) Connect & get a cursor
conn = sqlite3.connect('economic_data.db')
cur  = conn.cursor()

# 2) Define your filters (you may generate these programmatically, but we won't loop over tables)
target_countries = ['China','Japan','South Korea','United States','United Kingdom','Canada']
countries_sql = ", ".join(f"'{c}'" for c in target_countries)

years    = [str(y) for y in range(1990, 2024)]
columns  = ['Country Name', 'Indicator Name'] + years
col_clause = ", ".join(f'"{c}"' for c in columns)

# 3) Filter gdp_raw → gdp_filtered, drop old, rename
cur.execute(f"""
    CREATE TABLE gdp_filtered AS
    SELECT {col_clause}
      FROM gdp_raw
     WHERE "Country Name" IN ({countries_sql});
""")
cur.execute("DROP TABLE gdp_raw;")
cur.execute("ALTER TABLE gdp_filtered RENAME TO gdp_raw;")
conn.commit()

# 4) Filter emp_raw → emp_filtered, drop old, rename
cur.execute(f"""
    CREATE TABLE emp_filtered AS
    SELECT {col_clause}
      FROM emp_raw
     WHERE "Country Name" IN ({countries_sql});
""")
cur.execute("DROP TABLE emp_raw;")
cur.execute("ALTER TABLE emp_filtered RENAME TO emp_raw;")
conn.commit()

# 5) Filter gdp_growth_raw → gdp_growth_filtered, drop old, rename
cur.execute(f"""
    CREATE TABLE gdp_growth_filtered AS
    SELECT {col_clause}
      FROM gdp_growth_raw
     WHERE "Country Name" IN ({countries_sql});
""")
cur.execute("DROP TABLE gdp_growth_raw;")
cur.execute("ALTER TABLE gdp_growth_filtered RENAME TO gdp_growth_raw;")
conn.commit()

# 6) Verify first 5 rows of each
for tbl in ['gdp_raw','emp_raw','gdp_growth_raw']:
    print(f"\n--- {tbl} ---")
    cur.execute(f"SELECT {col_clause} FROM {tbl} LIMIT 5;")
    rows = cur.fetchall()
    # print column headers then rows
    print(columns)
    for row in rows:
        print(row)

# 7) Close connection
conn.close()

--- gdp_raw ---
['Country Name', 'Indicator Name', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
('Canada', 'GDP per capita (constant 2015 US$)', 31700.54627, 30654.33314, 30563.37882, 31032.7546, 32074.15624, 32595.45152, 32801.30185, 33867.00791, 34894.61343, 36391.53533, 37906.86012, 38200.45611, 38921.6673, 39270.02345, 40108.75874, 41006.22293, 41663.51231, 42106.87243, 42067.5687, 40376.41537, 41164.33991, 42043.64196, 42320.64313, 42851.17053, 43643.23565, 43594.1941, 43551.3426, 44339.38867, 44907.34368, 45100.29149, 42366.12852, 44359.61673, 45227.14474, 44468.7475)
('China', 'GDP per capita (constant 2015 US$)', 905.0324572, 975.4629156, 1100.646116, 1239.129373, 1384.930157, 1520.029469, 1653.433789, 1787.766977, 1909.622328, 2038.206474, 2193.896866, 2359.572385, 2557.891612, 2797.176659, 3061.833173, 3390.716159, 3800.765796, 4319.031398, 4711.643449, 5128.904128, 5647.068727, 6152.696873, 6591.662494, 7056.423092, 7532.785301, 8016.445595, 8516.528742, 9053.228725, 9619.209475, 10155.51088, 10358.17, 11223.25535, 11555.93024, 12175.19611)
('United Kingdom', 'GDP per capita (constant 2015 US$)', 30876.37063, 30441.48135, 30481.03489, 31165.15446, 32281.48015, 33011.29456, 33777.52809, 35349.79065, 36446.26169, 37435.88444, 38921.89657, 39769.87196, 40312.9824, 41390.60621, 42167.35571, 43023.22769, 43724.89572, 44524.57071, 44065.61566, 41712.8319, 42311.43299, 42459.963, 42802.02078, 43281.57642, 44336.53786, 44964.39114, 45482.46686, 46374.58112, 46742.14812, 47234.24661, 42215.88375, 45873.8696, 47551.22966, 47322.66822)
('Japan', 'GDP per capita (constant 2015 US$)', 28422.21312, 29308.27409, 29462.65397, 29232.43979, 29466.75525, 30171.16379, 31046.17015, 31276.19308, 30795.08889, 30636.26612, 31430.63113, 31476.05207, 31416.12418, 31830.21758, 32515.1158, 33098.54747, 33531.51856, 33990.03603, 33557.6454, 31651.08377, 32942.20208, 33011.13423, 33518.44494, 34239.88625, 34386.90586, 34960.63938, 35242.19938, 35861.97285, 36138.52908, 36043.7844, 34650.79678, 35701.45427, 36202.63927, 36990.33011)
('United States', 'GDP per capita (constant 2015 US$)', 39200.06581, 38637.83981, 39447.94729, 40002.47623, 41106.98818, 41710.82072, 42783.81657, 44151.68604, 45596.43068, 47234.24553, 48616.25463, 48597.42461, 48967.36612, 49905.52331, 51348.34734, 52649.57131, 53596.31524, 54152.82927, 53703.9629, 51863.61834, 52821.40476, 53259.25521, 54080.22865, 54844.24258, 55817.56325, 57040.20821, 57658.67088, 58703.14408, 60127.21028, 61400.54815, 59493.14598, 62996.28938, 64342.11794, 65875.17788)

--- emp_raw ---
['Country Name', 'Indicator Name', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
('Canada', 'Employment to population ratio, 15+, total (%) (modeled ILO estimate)', None, 59.395, 57.989, 57.548, 58.02, 58.293, 58.046, 58.558, 59.317, 60.138, 60.832, 60.69, 61.298, 62.028, 62.239, 62.221, 62.495, 62.978, 63.041, 61.288, 61.275, 61.508, 61.638, 61.788, 61.385, 61.311, 61.018, 61.564, 61.721, 62.065, 57.907, 60.288, 61.802, 61.822)
('China', 'Employment to population ratio, 15+, total (%) (modeled ILO estimate)', None, 76.84, 76.38, 75.663, 75.027, 74.47, 73.891, 73.315, 72.807, 72.293, 71.771, 71.07, 70.444, 69.891, 69.652, 69.323, 69.078, 68.824, 68.337, 67.929, 67.746, 67.636, 67.185, 66.751, 66.425, 66.078, 65.739, 65.295, 64.887, 64.307, 62.678, 64.056, 62.523, 62.756)
('United Kingdom', 'Employment to population ratio, 15+, total (%) (modeled ILO estimate)', None, 56.678, 55.526, 54.713, 54.959, 55.357, 55.73, 56.559, 56.999, 57.4, 57.928, 58.103, 58.168, 58.418, 58.596, 58.654, 58.7, 58.598, 58.611, 57.231, 56.873, 56.715, 56.858, 57.202, 58.156, 58.793, 59.344, 59.603, 60.024, 60.335, 59.746, 58.958, 59.596, 59.323)
('Japan', 'Employment to population ratio, 15+, total (%) (modeled ILO estimate)', None, 62.48, 62.608, 62.189, 61.771, 61.421, 61.34, 61.526, 60.746, 59.908, 59.478, 58.881, 57.936, 57.575, 57.56, 57.732, 57.89, 58.047, 57.748, 56.83, 56.539, 56.553, 56.44, 56.853, 57.31, 57.485, 58.107, 58.738, 59.93, 60.55, 60.207, 60.367, 60.875, 61.265)
('United States', 'Employment to population ratio, 15+, total (%) (modeled ILO estimate)', None, 60.58, 60.358, 60.64, 61.469, 61.897, 62.189, 62.78, 63.033, 63.27, 63.506, 62.746, 61.793, 61.314, 61.407, 61.742, 62.162, 61.99, 61.226, 58.412, 57.592, 57.574, 58.017, 58.108, 58.595, 58.979, 59.391, 59.824, 60.153, 60.542, 56.598, 58.211, 59.539, 59.821)

--- gdp_growth_raw ---
['Country Name', 'Indicator Name', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
('Canada', 'GDP growth (annual %)', 0.202947863, -2.091055179, 0.890466255, 2.657706883, 4.494049243, 2.682328303, 1.688961208, 4.280166863, 3.89288653, 5.14100348, 5.138539186, 1.875098132, 2.99925535, 1.806385135, 3.092363835, 3.210454357, 2.6379438, 2.049904611, 0.99540631, -2.915086239, 3.090806374, 3.13719439, 1.755661325, 2.325813574, 2.873466772, 0.649970994, 1.038550935, 3.033834903, 2.742963431, 1.908431925, -5.038233441, 5.286956891, 3.819866339, 1.248927304)
('China', 'GDP growth (annual %)', 3.920251368, 9.262786085, 14.22452959, 13.8837293, 13.03680663, 10.95395434, 9.922556753, 9.236779892, 7.845951787, 7.6616515, 8.490093406, 8.335733478, 9.13363079, 10.03803048, 10.11362138, 11.39459181, 12.72095567, 14.23086093, 9.650678919, 9.398725633, 10.63587106, 9.550832179, 7.863736449, 7.766150098, 7.425763656, 7.041328879, 6.848762205, 6.947200793, 6.749773832, 5.950500754, 2.238638356, 8.448469417, 2.95066993, 5.249557864)
('United Kingdom', 'GDP growth (annual %)', 0.733755484, -1.103121612, 0.401082056, 2.489830962, 3.846009131, 2.531670013, 2.581993917, 4.924648319, 3.40265821, 3.058323259, 4.341634179, 2.572780386, 1.79566077, 3.152346538, 2.457904411, 2.732660761, 2.380694025, 2.62488002, -0.248797298, -4.62055372, 2.233315126, 1.138362347, 1.508998374, 1.799921494, 3.194637313, 2.222888449, 1.921710078, 2.656504893, 1.405190266, 1.624475159, -10.29691887, 8.575950905, 4.839085147, 0.339966158)
('Japan', 'GDP growth (annual %)', 4.840929057, 3.523357235, 0.900586066, -0.459219716, 1.083383174, 2.630999616, 3.133870993, 0.981228732, -1.270330495, -0.333929958, 2.764647551, 0.386103426, 0.041962499, 1.535125499, 2.186115694, 1.803900872, 1.372350128, 1.483969412, -1.224289001, -5.693236359, 4.097917919, 0.023809524, 1.374750999, 2.005100177, 0.296205514, 1.560626697, 0.753826746, 1.675331752, 0.643391023, -0.402169201, -4.147118899, 2.559320239, 0.954736938, 1.679019523)
('United States', 'GDP growth (annual %)', 1.885965585, -0.108312889, 3.522497184, 2.751795862, 4.029022729, 2.684430735, 3.772772686, 4.447127942, 4.483133346, 4.788425053, 4.077585758, 0.955538346, 1.700447324, 2.795605966, 3.847771692, 3.483549938, 2.784539639, 2.003858298, 0.113587248, -2.576500234, 2.695192584, 1.564406854, 2.289113388, 2.117830099, 2.523819814, 2.945550455, 1.819451475, 2.457622303, 2.966505069, 2.58382533, -2.163029139, 6.055052933, 2.51237532, 2.887556009)

We assemble three indicators from the World Bank’s World Development Indicators:

GDP per capita (constant 2015 US$)

Employment to population ratio

Annual GDP growth (%)

For each, we focus on six high- and middle-income economies (China, Japan, South Korea, the United States, United Kingdom, Canada) over the period 1990–2023. We will merge these into a single country–year panel, clean and format, and then explore summary statistics for each indicator.

In [5]:
# Cell 3 — Reconnect to the database
import sqlite3
import pandas as pd

conn = sqlite3.connect('economic_data.db')

# Read all three tables back into pandas
print("Reading tables into pandas DataFrames...")
gdp_df        = pd.read_sql_query("SELECT * FROM gdp_raw", conn)
emp_df        = pd.read_sql_query("SELECT * FROM emp_raw", conn)
gdp_growth_df = pd.read_sql_query("SELECT * FROM gdp_growth_raw", conn)

# Cell 4 — Data Cleaning
print("\nCleaning data...")

# Melt the dataframes (wide to long format) for easier merging later
def melt_df(df, value_name):
    id_vars = ['Country Name', 'Indicator Name']
    value_vars = [col for col in df.columns if col not in id_vars]
    return df.melt(id_vars=id_vars, value_vars=value_vars, 
                   var_name='Year', value_name=value_name)

gdp_long        = melt_df(gdp_df, 'GDP')
emp_long        = melt_df(emp_df, 'Employment')
gdp_growth_long = melt_df(gdp_growth_df, 'GDP_Growth')

# Make sure 'Year' is an integer and value columns are numeric
def clean_numeric(df, value_col):
    df['Year'] = df['Year'].astype(int)
    df[value_col] = pd.to_numeric(df[value_col], errors='coerce')

clean_numeric(gdp_long, 'GDP')
clean_numeric(emp_long, 'Employment')
clean_numeric(gdp_growth_long, 'GDP_Growth')

# Cell 5 — Merge Tables Together
print("\nMerging datasets...")

merged_df = gdp_long.merge(emp_long,        on=['Country Name','Indicator Name','Year'], how='outer')
merged_df = merged_df.merge(gdp_growth_long, on=['Country Name','Indicator Name','Year'], how='outer')

# Because 'Indicator Name' can be different across tables, you can drop it after confirming
merged_df.drop(columns=['Indicator Name'], inplace=True)

# Optional: Reorder columns
merged_df = merged_df[['Country Name', 'Year', 'GDP', 'Employment', 'GDP_Growth']]

# Cell 6 — Save Cleaned DataFrame into SQL
print("\nSaving merged cleaned data into database as 'econ_cleaned'...")

merged_df.to_sql('econ_cleaned', conn, if_exists='replace', index=False)

# Cell 7 — Descriptive Statistics Summary
print("\nGenerating summary statistics...")

summary_stats = merged_df.groupby('Country Name').agg({
    'GDP': ['count', 'mean', 'std', 'min', 'max'],
    'Employment': ['count', 'mean', 'std', 'min', 'max'],
    'GDP_Growth': ['count', 'mean', 'std', 'min', 'max'],
})

# Clean up column names
summary_stats.columns = ['_'.join(col).strip() for col in summary_stats.columns.values]

# Display
print(summary_stats)

# Optional: Save summary statistics to a CSV
summary_stats.to_csv('summary_statistics.csv')

# Final Step — Close connection
conn.close()

print("\nAll tasks completed!")

Reading tables into pandas DataFrames...

Cleaning data...

Merging datasets...

Saving merged cleaned data into database as 'econ_cleaned'...

Generating summary statistics...
                GDP_count      GDP_mean      GDP_std       GDP_min  \
Country Name
Canada                 34  39357.078405  4856.836357  30563.378820
China                  34   5073.229508  3583.630683    905.032457
Japan                  34  32770.738504  2371.821778  28422.213120
United Kingdom         34  40583.327987  5456.617589  30441.481350
United States          34  51521.551093  7640.364126  38637.839810

                    GDP_max  Employment_count  Employment_mean  \
Country Name
Canada          45227.14474                33        60.712303
China           12175.19611                33        69.123242
Japan           36990.33011                33        59.238939
United Kingdom  47551.22966                33        57.831939
United States   65875.17788                33        60.468424

                Employment_std  Employment_min  Employment_max  \
Country Name
Canada                1.629455          57.548          63.041
China                 4.132756          62.523          76.840
Japan                 1.957756          56.440          62.608
United Kingdom        1.511241          54.713          60.335
United States         1.872493          56.598          63.506

                GDP_Growth_count  GDP_Growth_mean  GDP_Growth_std  \
Country Name
Canada                        34         2.135410        2.185206
China                         34         8.797740        2.924949
Japan                         34         0.963596        2.050458
United Kingdom                34         1.859416        2.990588
United States                 34         2.491121        1.757601

                GDP_Growth_min  GDP_Growth_max
Country Name
Canada               -5.038233        5.286957
China                 2.238638       14.230861
Japan                -5.693236        4.840929
United Kingdom      -10.296919        8.575951
United States        -2.576500        6.055053

All tasks completed!